[submodule "log"]
	path = log
	url = git@github.com:ingtshan/udefemacs-note.git
[submodule "etc/tool/org2opml-mindnode"]
	path = etc/tool/org2opml-mindnode
	url = git@github.com:ingtshan/org2opml-mindnode.git
[submodule "etc/extend/reveal-in-osx-finder"]
	path = etc/extend/reveal-in-osx-finder
	url = git@github.com:ingtshan/reveal-in-osx-finder.git
[submodule "etc/extend/exec-path-from-shell"]
	path = etc/extend/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "etc/extend/cache-path-from-shell"]
	path = etc/extend/cache-path-from-shell
	url = git@github.com:manateelazycat/cache-path-from-shell.git
[submodule "etc/extend/format-inline.el"]
	path = etc/extend/format-inline.el
	url = git@github.com:ingtshan/format-inline.el.git
[submodule "etc/extend/separate-inline.el"]
	path = etc/extend/separate-inline.el
	url = git@github.com:ingtshan/separate-inline.el.git
